<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Capstone Project</h1>
    <p class="lead">This is a simple blogging website where users can create and edit their blogs. Additionally, users can view and comment on other people's blogs.</p>
    <hr class="my-4">
    <p>An SPA (single page application) with 1 lazy loaded module, template and reactive forms, form validation and route guards.</p>
    <p>What's missing? NgRx, Unit Testing, Modal, Scalable Project Structure</p>
  </div>
</div>
